<!DOCTYPE html>
<head>
    <title>Parrot: your very own echo chamber</title>
</head>
<body>
    <h1>Parrot</h1>
    <form action="/upload-file" method="POST" enctype="multipart/form-data">
        Upload file: <input type="file" name="file">
        <button type="submit" class="btn btn-primary">Upload</button>
        <br>
        <strong>Currently loaded file:</strong> {{ session['current_file'] }} 
    </form>
    <form action="/text">
      <button type="submit" class="btn btn-primary">Generate paragraph</button> 
    </form>
    <font color='blue'>
      <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            {% endif %}
          {% endwith %}
      </p>
    </font>
</body>
<footer>
    <address>
        <p>Written by Griffin Brome</p>
        <p>https://github.com/Griffin-Brome</p>
    </address>
</footer>
</html>
