{% extends "bootstrap/base.html" %}
{% block title %} Parrot: Output {% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <h1>Parrot</h1>
    <h3>Your very own echo chamber</h3>
</div>
<div class="container-fluid text-center">
    <!--This is where we will print out the randomly generated text-->
    <div class="row">
        <p>{{ session['paragraph'] }}</p>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-4">
            <form action="/text"> <!--This should generate a new paragraph and reload this page-->
                <button type="submit" class="btn btn-primary">new paragraph</button> 
            </form>
        </div>
        <div class="col-md-2 mx-auto">
            <form action="/"> 
                <button type="submit" class="btn btn-primary">home</button> 
            </form>
        </div>
    </div>
    <br>
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3">Written by Griffin Brome
            <a href="https://github.com/Griffin-Brome">
                <img src="/static/img/GitHub-Mark-64px.png" alt="My Github">
            </a>
        </div>    
    </footer>
</div>
{% endblock %}